.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #9913cf;
}

nav {
  background-color: #a69cac;
  padding: 0.5rem;
}

nav button {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

nav button:hover {
  background-color: white;
  color: #a69cac;
}

form {
  background: #282c34;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: 2px auto;
  max-width: 400px;
}

label {
  color: white;
  margin: 10px 0 5px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 90%;
}

input:focus,
textarea:focus {
  border-color: #9913cf;
  outline: none;
}

button[type='submit'] {
  background-color: #9913cf;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

button[type='submit']:hover {
  background-color: #a69cac;
}

#responseMessage {
  margin-top: 15px;
  color: #5cb85c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}